@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    article p.town-article img {
        width: 29.333%;
    }

    header {
        font-size: 20px;

    }

    header img {
        height: 100px;
        width: 100px;
        display: flex;
        justify-content: flex-start;
    }
    
    header h1 {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        font-size: 40px;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #f1f1f1;
        font-size: 20px;
        flex-basis: 20%;
    }

    nav ul li {
        display: flex;
        border-right: 2px solid #bbb;
    }

    nav ul li a {
        display: flex;
        color: #000;
        padding: 15px;
    }
    
    form#strmPage {
    margin: 1em 3%;
}
    main {}

    main h2 {
        padding: 1px 0 0 0;
        margin: 0;
        text-align: center;
        font-size: 40px;

    }

    .highlow {
        font-size: 20px;
        padding: 0;
        margin: 0;
    }

    .forecast {
        font-size: 25px;;
        padding: 0;
        margin: 0;
    }
    
    table th td{
        padding: 1px;
        border-right: 1px solid #bbb;
        border-left: 1px solid #bbb;
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
    }


    main h3 {
        font-size: 30px;
        padding: 0;
        margin: 0;

    }

    main figure {
        margin: 0 0 .2rem 2%;
        width: 96%;
    }

    main figure img {
        display: flex;
        j
        width: 450px;
        height: 300px;
        padding: 1em;

    }

    section {
    }

    article p.town-article img {
        /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
        width: 200px;
        height: 200px;

        /* fill the page in the small/phone view */
    }

    footer {
        text-align: center;
        background-color: #004a99;
        color: white;


    }

    footer aside {
        font-size: 20px;
        background-color: #7ec0ee;
        color: #000;

    }

    footer > p {}

{
    box-sizing: border-box;
}

.grid  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
   
}

img, div .grid {
    width: 250px;
    height: 200px;
   
}

 .grid div img:hover {
    box-shadow: 6px 6px 10px;
    color: dimgray;
}

.grid div img:active {
    color: #000;
}
}
