/* First style sheet */

body { 
    font-size: 16px; 
    line-height: px;
    font-family: fantasy;
    color: green;
    text-align: center;
    
}

h1 {
    font-size: /* x.xrem  (rem is a unit of measure) */;
    color: /* #xxxxxx */;
    text-align: center;
}

h2 {
    font-size: /* x.xrem */;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5em;
    max-width: 400px;
    
}

header, footer, footer a {
    text-align: center;
    background-color: black;
    color: skyblue;
}

header img {
    float: right;
    height: auto;
    color: black;
    margin: center;
}

footer {
    font-size: 4;
    color: skyblue;
    text-align: center;
    padding: 1px;
}

ul {
    display: block;
    text-align: left;
}
