@media only screen and (min-width: 64em) {
    /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    article p.town-article img {
        width: 29.333%;
    }

    header {
        font-size: 20px;
    }

    header img {
        height: 100px;
        width: 100px;
       
    }

    header h1 {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 40px;
    }
    
    * {margin:0}
header { background-color: #777; }
h1 { margin-left: .75rem;	padding: .5rem; }
i

.navigation { list-style: none; padding-left: 0; }
.navigation li { display: none; }

/* When the responsive class is added to the unordered list on hamburger button click 
placed in a media query in order to accomodate the toggle when in wider view*/
@media only screen and (max-width: 37.5em) {
	.navigation.responsive { position: relative; }
	.navigation.responsive li { background-color: #eee;	display: block;	width: 100%; margin: 2px 0;	border: 1px solid #ddd; }
	.navigation.responsive li a {	padding: 1rem; text-align: center;	display: block; text-decoration:none; }
	.navigation.responsive li a:hover { background-color: #ddd; }
}

/* The following can be used in lieu of a button with a HTML entity which may not be dispalyed correctly in all browsers - or a SVG option is good - button size issue
.hamburger { 
    content: "";
    position: absolute;
    right: 1.5rem; top: 1.8rem;
    display: block;
    width: 1.25rem; height: 0;
    -webkit-box-shadow: 1px 10px 1px 1px #eee,1px 16px 1px 1px #eee,1px 22px 1px 1px #eee;
    box-shadow: 0 10px 0 1px #eee,0 16px 0 1px #eee,0 22px 0 1px #eee;
}*/


@media only screen and (min-width: 37.5em) {
	header,	nav {	margin: 0 auto;	max-width: 600px;	}
	h1 { text-align: center; }
	.hamburger { display: none;	}
	.navigation {	background-color: #333;	overflow: hidden;	text-align: center;	}
	.navigation li { display: inline-block; margin-left: .25rem; }
	.navigation a {	display: block;	color: #eee;	padding: .5rem;	text-align: center;	text-decoration: none;}
	.navigation a:hover {	color: #000; background-color: #777;	}
}
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #f1f1f1;
        font-size: 23px;
        flex-basis: 20%;
    }

    nav ul li {
        display: flex;
        border-right: 2px solid #bbb;
    }

    nav ul li a {
        display: flex;
        color: #000;
        padding: 15px;
    }
    main {}

    main h2 {
        padding: 1px 0 0 0;
        margin: 0;
        text-align: center;
        font-size: 40px;

    }

    .highlow {
        font-size: 20px;
        padding: 0;
        margin: 0;
    }

    .forecast {
        display: flex;
        justify-content: center;
        font-size: 25px;;
        padding: 1em;
        margin: 1em;
    }
    
    table th td{
        padding: 1px;
        border-right: 1px solid #bbb;
        border-left: 1px solid #bbb;
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
    }


    main h3 {
        font-size: 30px;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    main figure {
        margin: 0 0 .2rem 2%;
        width: 96%;
    }

    main figure img {
        width: 450px;
        height: 300px;
        padding: 1em;

    }

    section {
        text-align: center;
    }

    article p.town-article img {
        /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
        width: 200px;
        height: 200px;

        /* fill the page in the small/phone view */
    }

    footer {
        text-align: center;
        background-color: #004a99;
        color: white;


    }

    footer aside {
        font-size: 20px;
        background-color: #7ec0ee;
        color: #000;

    }

    footer > p {}

{
    box-sizing: border-box;
}

.grid  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
   
}

img, div .grid {
    width: 250px;
    height: 200px;
   
}

 .grid div img:hover {
    box-shadow: 6px 6px 10px;
    color: dimgray;
}

.grid div img:active {
    color: #000;
}
}
