/* First style sheet */

body { 
    font-size: 12px; 
    line-height: 22px;
    font-family: fantasy;
    color: green;
    text-align: center;
    
}

h1 {
    font-size: 22px;
    color: red;
    text-align: center;
}

h2 {
    font-size: 22px;
    text-align: center;
    border-bottom: 5px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .3rem;
    max-width: 126 px  */;
    
}

header, footer, footer a {
    text-align: center;
    background-color: tan;
    color: black;
}

header img {
    
    height: auto;
    color: black;
    margin: center;
    
}

footer {
    font-size: 5;
    color: black;
    text-align: center;
    
}